In [2]:
import numpy as np
import pandas as pd
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [7]:
data = pd.read_csv('/content/drive/MyDrive/Notebooks/Titanic-Dataset.csv')

In [8]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

4. Определить количество пустых ячеек

In [9]:
data.isnull().sum().sum ()

866

6. Если пункт 5 не выполнен, то удалить строки имеющие пустые ячейки.

In [10]:
data.dropna()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

7. По каждому признаку произвести аналитику:
  1. Количество уникальных значений
  2. Минимальное и максимальное значение

In [11]:
data.nunique()

PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64

In [40]:
minMaxValues = pd.DataFrame(
    {'Min':
     [
        data['PassengerId'].min(),
        data['Survived'].min(),
        data['Pclass'].min(),
        data['Age'].min(),
        data['SibSp'].min(),
        data['Parch'].min(),
        data['Fare'].min()
     ],
     'Max':
     [
        data['PassengerId'].max(),
        data['Survived'].max(),
        data['Pclass'].max(),
        data['Age'].max(),
        data['SibSp'].max(),
        data['Parch'].max(),
        data['Fare'].max()
     ]
     })
from pandas import Series
minMaxValues.index = Series(['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare'])
minMaxValues

              Min       Max
PassengerId  1.00  891.0000
Survived     0.00    1.0000
Pclass       1.00    3.0000
Age          0.42   80.0000
SibSp        0.00    8.0000
Parch        0.00    6.0000
Fare         0.00  512.3292